<div id="add-track-to-playlist-modal" class="modal show fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add to playlist</h3>
  </div>
  <div class="modal-body">
  <p>Add <b><%= artistName %> - <%= title %></b></p>
    <form class="form-horizontal">
      <label>Playlist</label>
          <select id="user-playlists-dropdown" class="span3">
          </select>
    </form>
  </div>
  <div class="modal-footer">
    <a id="add-btn" class="btn btn-custom">Add</a>
  </div>
</div>