
    <td><%= title %></td>
    <td id="track-option-<%= id %>">
        <ul class="track-options">
            <li><a class="add-to-favorite" title="Add to favorites"><i class="icon-heart"></i></a></li>
            <li><a class="add-to-playlist" title="Add to playlist"><i class="icon-plus-sign"></i></a></li>
        </ul>
    </td>