

                <div class="artists-container span12 alpha">
                    <div class="artists-list-header">
                        <div class="filter-btn-container">
                            <a id="filter-btn" class="btn">Filters <span class="caret"></span></a>
                        </div>

                        <select class="sort-dropdown input-small">
                            <option value="name" <% if (sortType === "name") { %>selected<% } %>>Name</option>
                            <option value="popular" <% if (sortType === "popular") { %>selected<% } %>>Popularity</option>
                        </select>

                        <select class="sort-order-dropdown input-medium">
                            <option value="desc" <% if (sortOrder === "desc") { %>selected<% } %>>Descending</option>
                            <option value="ascd" <% if (sortOrder === "ascd") { %>selected<% } %>>Ascending</option>
                        </select>

                        <form class="artist-search" onsubmit="return false;">
                            <div class="input-append">
                                <% if (!isSearching) { %>
                                    <input type="text" name="artists-search-input" placeholder="Search artists" id="artists-search-input">
                                <% } else { %>
                                    <input type="text" name="artists-search-input" value="<%= searchTerms %>" id="artists-search-input">
                                <% } %>
                                <button id="artists-search-btn" class="btn" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>

                    <div class="filters-container">
                        <div class="filter-col">
                           <h4>Type</h4>
                           <ul class="filters-list">
                                <li<%= (filterGroupType == 'all') ? ' class="active-filter"' : "" %>><a href="#/artists/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=all&gender=<%= filterGender %>">All</a></li>
                                <li<%= (filterGroupType == 'group') ? ' class="active-filter"' : "" %>><a href="#/artists/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=group&gender=<%= filterGender %>">Group</a></li>
                                <li<%= (filterGroupType == 'solo') ? ' class="active-filter"' : "" %>><a href="#/artists/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=solo&gender=<%= filterGender %>">Solo</a></li>
                           </ul>
                        </div>

                        <div class="filter-col">
                            <h4>Gender</h4>
                            <ul class="filters-list">
                                <li<%= (filterGender == 'all') ? ' class="active-filter"' : "" %>><a href="#/artists/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=all">All</a></li>
                                <li<%= (filterGender == 'female') ? ' class="active-filter"' : "" %>><a href="#/artists/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=female">Female</a></li>
                                <li<%= (filterGender == 'male') ? ' class="active-filter"' : "" %>><a href="#/artists/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=male">Male</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="artists-list-container">
                        <ul class="artists-list">
                        </ul>
                    </div>

                    <% if (!isSearching) { %>
                    <div class="pagination">
                        <ul>
                            <% if (page > 2) { %>
                                <li><a href="#/artists/<%= page - 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>">Prev</a></li>
                                <li><a href="#/artists/1?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>">1</a></li>
                                <li><a>...</a></li>
                                <li><a href="#/artists/<%= page - 2 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= page - 2 %></a></li>
                                <li><a href="#/artists/<%= page - 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= page - 1 %></a></li>
                                <li class="active"><a href="#/artists/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= page %></a></li>
                                <li><a href="#/artists/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= page + 1 %></a></li>
                                <li><a href="#/artists/<%= page + 2 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= page + 2 %></a></li>
                                <li><a>...</a></li>
                                <li><a href="#/artists/<%= pageCount %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= pageCount %></a></li>
                                <li><a href="#/artists/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>">Next</a></li>
                            <% } else { %>
                                <li><a href="#/artists/<%= page - 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>">Prev</a></li>
                                <li><a href="#/artists/1?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>">1</a></li>
                                <li><a>...</a></li>
                                <li class="active"><a><%= page %></a></li>
                                <li><a href="#/artists/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= page + 1 %></a></li>
                                <li><a href="#/artists/<%= page + 2 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= page + 2 %></a></li>
                                <li><a>...</a></li>
                                <li><a href="#/artists/<%= pageCount %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>"><%= pageCount %></a></li>
                                <li><a href="#/artists/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>&artisttype=<%= filterGroupType %>&gender=<%= filterGender %>">Next</a></li>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>

                </div>

                <!--<div id="sidebar" class="span4">
                    <h2 class="module-heading sidebar-module-heading">Options</h2>
                    <div class="sidebar-module">
                        <div class="sidebar-container">
                            asdfasdf
                        </div>-->
                        <!--<div class="filters-container">
                            <form class="artist-search" onsubmit="return false;">
                                <div class="input-append">
                                    <input type="text" name="artist-search-input" placeholder="Search artists" id="artist-search-input">
                                    <button id="artists-search-btn" class="btn" type="submit"><i class="icon-search"></i></button>
                                </div>
                            </form>
                            <hr>
                            <form class="artist-filters" onsubmit="return false;">
                                <div class="filter-type-container">
                                    <h4>Gender</h4>
                                    <div class="filter-type-controls">
                                        <label class="radio">
                                            <input type="radio" name="filter-gender" id="filter-gender-all" value="all"/>
                                            All
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="filter-gender" id="filter-gender-male" value="male"/>
                                            Male
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="filter-gender" id="filter-gender-female" value="female"/>
                                            Female
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="filter-gender" id="filter-gender-mixed" value="mixed"/>
                                            Mixed
                                        </label>
                                    </div>
                                </div>
                                <div class="filter-type-container">
                                    <h4>Type</h4>
                                    <div class="filter-type-controls">
                                        <label class="radio">
                                            <input type="radio" name="filter-type" id="filter-type-all" value="all" />
                                            All
                                        </label>

                                        <label class="radio">
                                            <input type="radio" name="filter-type" id="filter-type-group" value="group"/>
                                            Group
                                        </label>

                                        <label class="radio">
                                            <input type="radio" name="filter-type" id="filter-type-solo" value="solo" />
                                            Solo
                                        </label>
                                    </div>
                                </div>
                                <button class="btn" id="filter-btn" type="submit">Apply filters</button>
                            </form>
                        </div>-->
                    <!--</div>-->
                </div>