
                    <div class="span8 alpha">
                        <div id="featured-container">
                            <div id="main-banner">
                                <a href="#"><img src="assets/img/large_banner_preview.png"/></a>
                                <div class="featured-banner-bg"></div>
                                <h3><span>Miss A - Independent Woman</span></h3>
                            </div>

                            <div id="sub-banners">
                                <div class="side-banner">
                                    <a href="#"><img src="assets/img/small_banner_preview_1.png"/></a>
                                    <div class="featured-header-small"></div>
                                    <h4><span>Girl's Day - Don't Forget Me</span></h4>
                                </div>

                                <div class="side-banner">
                                    <a href="#"><img src="assets/img/small_banner_preview_1.png"/></a>
                                    <div class="featured-header-small"></div>
                                    <h4><span>Girl's Day - Don't Forget Me</span></h4>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <h2 class="module-heading">New Releases</h2>
                        <div class="main-module-container" id="new-releases-container">
                            <ul id="new-releases-list">

                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span4">
                        <!--<div id="player" class="sidebar-module">
                            <div id="player-container">
                                <img id="album-art" src="assets/img/player_album_Art.png"/>
                                <div id="player-controls">
                                    <p id="currently-playing-text">IU - You and I</p>
                                    <ul id="controls">
                                        <li><a href="#"><img src="assets/img/player_previous_icon.png"/></a>
                                        <li><a href="#"><img src="assets/img/player_pause_icon.png"/></a>
                                        <li><a href="#"><img src="assets/img/player_skip_icon.png"/></a>
                                        <li><a href="#"><img src="assets/img/player_favorite_icon.png"/></a>
                                    </ul>
                                </div>

                            </div>
                        </div>-->

                        <h2 class="module-heading sidebar-module-heading">Popular Tracks</h2>
                        <div class="sidebar-module">
                            <div id="popular-tracks">
                                <ul id="popular-tracks-list">

                                </ul>
                            </div>
                        </div>

                        <h2 class="module-heading sidebar-module-heading">Top Playlists</h2>
                        <div class="sidebar-module">
                            <div id="top-playlists">
                                <ul id="top-playlists-list">

                                </ul>
                            </div>
                        </div>
                    </div>