    <div id="header-container" class="container">
        <div id="logo">
            <a href="#"><img src="assets/img/logo.png"/></a>
        </div>
        <% if (!loggedin) { %>
            <div id="secondary-navigation" class="btn-group">
                <a href="#/signup" class="btn">Join now</a>
                <a href="#/login" class="btn">Sign in</a>
            </div>
        <% } else { %>
            <div class="user-navigation btn-group">
                <button class="btn" title="Dashboard"><i class="icon-home"></i></button>
                <button class="btn" title="Messages"><i class="icon-envelope-alt"></i></button>
                <button class="btn" title="Settings"><i class="icon-cog"></i></button>
                <button class="btn"><%= username %></button>
                <button id="sign-out-btn" class="btn" title="Sign out"><i class="icon-signout"></i></button>
            </div>
        <% } %>
    <div class="clearfix"></div>

    <ul id="main-navigation">
        <li><a href="#/explore">Explore</a></li>
        <li><a href="#/tracks">Tracks</a></li>
        <li><a href="#/artists">Artists</a></li>
        <li><a href="#/playlists">Playlists</a></li>
    </ul>

    <form id="search" onsubmit="return false;">
        <div class="input-append">
            <input type="text" name="search-terms" class="span2" placeholder="Search tracks, artists, and playlists." id="search-box">
            <button id="search-btn" class="btn btn-custom" type="submit">Search</button>
        </div>
    </form>
    <div class="clearfix"></div>
    <hr id="navigation-seperator">
</div>