<form class="form-signin" onsubmit="return false;">
    <h2>Sign in</h2>
    <div id="login-errors" class="alert alert-error"></div>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input type="text" class="modal-form-input" id="username-textbox" placeholder="Username" name="username">
    </div>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        <input type="password" class="modal-form-input" id="password-textbox" placeholder="Password" name="password">
    </div>
    <button class="btn btn-custom" id="sign-in-btn" type="submit">Sign in</button>
</form>