
<img class="new-release-album-art img-polaroid" src="assets/album-art/small/test.png" alt="" />
<div class="new-release-desc">
    <a class="new-release-title" title="<%= title %>" href="#/track/<%= cleanTitle %>/<%= id %>"><%= shortenedTitle %></a>
    <br>
    <a class="new-release-artist" title="<%= artistName %>" href="#/artist/<%= cleanArtistName %>/<%= artist %>"><%= artistName %></a>
</div>
