<td class="playlist-track-count-col"><%= trackCount %></td>
<td><a class="play-playlist-track" title="Play track"><i class="icon-play"></i></a>
<td class="metadata">
    <span class="title"><a href="#/track/<%= cleanTitle %>/<%= id %>"><%= title %></a></span><br/>
    <span class="artist"><a href="#/artist/<%= cleanArtistName %>/<%= artist %>"><%= artistName %></a></span>
</td>

<td id="track-option-<%= id %>">
    <div class="btn-group track-options">
        <button class="btn add-to-favorite" title="Add to favorites"><a><i class="icon-heart"></i></a></button>
        <button class="btn add-to-playlist" title="Add to playlist"><a><i class="icon-plus-sign"></i></a></button>
    </div>
</td>