

                <div class="span8 alpha">
                    <h2 class="module-heading">Playlists</h2>
                    <div class="main-module-container" id="playlists-container">
                    <% if (loggedin) { %>
                        <div class="input-append">
                            <input name="playlist-name" class="span2" id="create-playlist-textbox" type="text" placeholder="Enter name of playlist">
                            <button id="create-playlist-btn" class="btn" type="button">Create playlist</button>
                        </div>
                    <% } else { %>
                        <div class="alert alert-info">
                            <a href="#/login">Sign in</a> or <a href="#/signup">sign up</a> to create and save playlists.
                        </div>
                    <% } %>
                    <table id="playlist-table" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Playlist</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
                <div id="sidebar" class="span4">
                    asf
                </div>