<span class="popular-track-thumbnail"><img src="assets/album-art/small/default.png"/></span>
<div class="popular-track-meta">
    <p class="popular-track-title"><a href="#/track/<%= cleanTitle %>/<%= id %>"><%= artistName %> - <%= title %></a></p>
    <p class="popular-track-views"><%= viewCount %> views</p>
</div>