<form class="form-signup form-horizontal" onsubmit="return false;">
    <h2>Sign up</h2>
    <div id="login-errors" class="alert alert-error"></div>

    <div class="control-group">
        <label class="control-label" for="username-textbox">Username</label>
        <div class="controls">
            <input type="text" id="username-textbox" placeholder="Username" name="username">

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password-textbox">Password</label>
        <div class="controls">
            <input type="password" id="password-textbox" placeholder="Password" name="password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="confirm-password-textbox">Confirm password</label>
        <div class="controls">
            <input type="password" id="confirm-password-textbox" placeholder="Confirm Password" name="confirm-password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-custom" id="sign-up-btn" type="submit">Sign up</button>
        </div>
    </div>
</form>