<div class="single-track-container full-width-container span12 alpha">
    <div class="row">
        <div class="single-track-main-col span8">
            <!--<h2 class="module-heading"><%= trackData.attributes.artistName %></h2>-->
            <div id="track-meta">
                <span class="track-meta-title"><%= trackData.get("title") %></span>
                <p>by <a href="#/artist/<%= trackData.attributes.artistName %>/<%= trackData.attributes.artist %>"><%= trackData.get("artistName") %></a></p>
            </div>

            <div id="track-video">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= trackData.get("videoId") %>" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="single-track-options">
                <div class="single-track-main-options">
                    <button class="btn add-to-favorite" title="Add to favorites"><a><i class="icon-heart"></i></a></button>
                    <button class="btn add-to-playlist" title="Add to playlist"><a><i class="icon-plus-sign"></i></a></button>
                </div>

                <div class="voting-options">
                    <button class="btn add-to-favorite" title="Like"><a><i class="icon-thumbs-up"></i></a></button>
                    <button class="btn add-to-playlist" title="Dislike"><a><i class="icon-thumbs-down"></i></a></button>
                </div>
            </div>
               <!--<div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'gosukpop'; // required: replace example with your forum shortname

                    var disqus_url = document.URL;
                    var disqus_identifier = '/track/'+<%= trackData.attributes.id %>;
                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            -->
        </div>

        <div class="single-track-sidebar span4">
            Similar Tracks
            <table id="tracks-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="track-options-heading"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="track-row">
                        <td class="metadata">
                            <span class="title"><a href="#/track/">Test Title 1</a></span><br/>
                            <span class="artist"><a href="#/artist/">Test Artist 1</a></span>
                        </td>
                        <td id="track-option-">
                            <div class="btn-group track-options">
                                <button class="btn add-to-favorite" title="Add to favorites"><a><i class="icon-heart"></i></a></button>
                                <button class="btn add-to-playlist" title="Add to playlist"><a><i class="icon-plus-sign"></i></a></button>
                            </div>
                        </td>
                    </tr>

                    <tr class="track-row">
                        <td class="metadata">
                            <span class="title"><a href="#/track/">Test Title 1</a></span><br/>
                            <span class="artist"><a href="#/artist/">Test Artist 1</a></span>
                        </td>
                        <td id="track-option-">
                            <div class="btn-group track-options">
                                <button class="btn add-to-favorite" title="Add to favorites"><a><i class="icon-heart"></i></a></button>
                                <button class="btn add-to-playlist" title="Add to playlist"><a><i class="icon-plus-sign"></i></a></button>
                            </div>
                        </td>
                    </tr>
                    <tr class="track-row">
                        <td class="metadata">
                            <span class="title"><a href="#/track/">Test Title 1</a></span><br/>
                            <span class="artist"><a href="#/artist/">Test Artist 1</a></span>
                        </td>
                        <td id="track-option-">
                            <div class="btn-group track-options">
                                <button class="btn add-to-favorite" title="Add to favorites"><a><i class="icon-heart"></i></a></button>
                                <button class="btn add-to-playlist" title="Add to playlist"><a><i class="icon-plus-sign"></i></a></button>
                            </div>
                        </td>
                    </tr>

                    <tr class="track-row">
                        <td class="metadata">
                            <span class="title"><a href="#/track/">Test Title 1</a></span><br/>
                            <span class="artist"><a href="#/artist/">Test Artist 1</a></span>
                        </td>
                        <td id="track-option-">
                            <div class="btn-group track-options">
                                <button class="btn add-to-favorite" title="Add to favorites"><a><i class="icon-heart"></i></a></button>
                                <button class="btn add-to-playlist" title="Add to playlist"><a><i class="icon-plus-sign"></i></a></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

