
    <h2 class="module-heading"><%= name %></h2>
    <div id="playlist-module-container" class="main-module-container">
        <div id="ytplayer"></div>

        <div class="btn-group">

        </div>

        <table id="tracks-table">
            <thead>
                <tr>
                    <th class="playlist-track-count-col"></th>
                    <th class="playlist-play-col"></th>
                    <th></th>
                    <th class="track-options-heading"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>