            <div id="main-content" class="row">
                <div class="span12 alpha">
                    <h2 class="module-heading"><%= name %></h2>
                    <div id="artist-module-container" class="main-module-container">

                    <%= description %>
                    <div class="row">
                        <div class="span6">
                            <h4>Tracks by <%= name %></h4>
                            <table id="tracks-table" class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th class="track-options-heading"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="span6">
                            <h4>Playlists with <%= name %></h4>
                        </div>
                    </div>

                    <!--<div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'gosukpop'; // required: replace example with your forum shortname

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>-->
                </div>
            </div>
        </div>