
    <td class="metadata">
        <span class="title"><a href="#/track/<%= cleanedTitle %>/<%= id %>"><%= title %></a></span><br/>
        <span class="artist"><a href="#/artist/<%= cleanedArtistName %>/<%= artist %>"><%= artistName %></a></span>
    </td>
    <td id="track-option-<%= id %>">
        <div class="btn-group track-options">
            <button class="btn add-to-favorite" title="Add to favorites"><a><i class="icon-heart"></i></a></button>
            <button class="btn add-to-playlist" title="Add to playlist"><a><i class="icon-plus-sign"></i></a></button>
        </div>
    </td>