
            <div class="span8 alpha">
                <div class="tracks-list-header">
                    <select class="sort-dropdown input-small">
                        <option value="uploaded" <% if (sortType === "uploaded") { %>selected<% } %>>Date</option>
                        <option value="popular" <% if (sortType === "popular") { %>selected<% } %>>Popularity</option>
                        <option value="artistName" <% if (sortType === "artistName") { %>selected<% } %>>Artist</option>
                        <option value="title" <% if (sortType === "title") { %>selected<% } %>>Title</option>
                    </select>

                    <select class="sort-order-dropdown input-medium">
                        <option value="desc" <% if (sortOrder === "desc") { %>selected<% } %>>Descending</option>
                        <option value="ascd" <% if (sortOrder === "ascd") { %>selected<% } %>>Ascending</option>
                    </select>

                    <form class="track-search" onsubmit="return false;">
                        <div class="input-append">
                            <% if (!isSearching) { %>
                                <input type="text" name="track-search-input" placeholder="Search tracks" id="track-search-input">
                            <% } else { %>
                                <input type="text" name="track-search-input" value="<%= searchTerms %>" id="track-search-input">
                            <% } %>
                            <button id="tracks-search-btn" class="btn" type="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>

                <h2 class="module-heading">Tracks</h2>
                <div class="main-module-container" id="tracks-container">
                    <% if (isSearching) {
                        if (noSearchResults) { %>
                            <div class="alert alert-error">
                                No track matches. <br />
                                <a href="#/tracks?sort=<%= sortType %>&order=<%= sortOrder %>">Return to tracks page</a>
                            </div>
                        <% } else { %>
                            <div class="alert alert-info">
                                Found <%=searchResultCount%> tracks for "<%=searchTerms%>"<br />
                                <a href="#/tracks?sort=<%= sortType %>&order=<%= sortOrder %>">Return to tracks page</a>
                            </div>
                        <% } %>
                    <% } %>
                    <table id="tracks-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="track-options-heading"></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <% if (!isSearching) { %>
                    <div class="pagination">
                        <ul>
                            <% if (page > 2) { %>
                                <li><a href="#/tracks/<%= page - 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>">Prev</a></li>
                                <li><a href="#/tracks/1">1</a></li>
                                <li><a>...</a></li>
                                <li><a href="#/tracks/<%= page - 2 %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= page - 2 %></a></li>
                                <li><a href="#/tracks/<%= page - 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= page - 1 %></a></li>
                                <li class="active"><a href="#/tracks/<%= page %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= page %></a></li>
                                <li><a href="#/tracks/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= page + 1 %></a></li>
                                <li><a href="#/tracks/<%= page + 2 %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= page + 2 %></a></li>
                                <li><a>...</a></li>
                                <li><a href="#/tracks/<%= pageCount %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= pageCount %></a></li>
                                <li><a href="#/tracks/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>">Next</a></li>
                            <% } else { %>
                                <li><a href="#/tracks/<%= page - 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>">Prev</a></li>
                                <li><a href="#/tracks/1">1</a></li>
                                <li><a>...</a></li>
                                <li class="active"><a href="#/tracks/<%= page %>"><%= page %></a></li>
                                <li><a href="#/tracks/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= page + 1 %></a></li>
                                <li><a href="#/tracks/<%= page + 2 %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= page + 2 %></a></li>
                                <li><a>...</a></li>
                                <li><a href="#/tracks/<%= pageCount %>?sort=<%= sortType %>&order=<%= sortOrder %>"><%= pageCount %></a></li>
                                <li><a href="#/tracks/<%= page + 1 %>?sort=<%= sortType %>&order=<%= sortOrder %>">Next</a></li>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>

            </div>

            <div id="sidebar" class="span4">
                <h2 class="module-heading sidebar-module-heading">Featured</h2>
                <div class="sidebar-module">
                    <div class="sidebar-container">
                        asdfasdf
                    </div>
                </div>
            </div>