body, html { height: 100%; }

body {
    background: url('../img/bg_test2.png');
    /*font-family: 'Open Sans', Arial, sans-serif;*/
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 20px;
    color: #515151;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

a {
    color: #049AE1;

    &:hover {
        text-decoration: underline;
        color: #47a7d5;
    }
}

h2 {
    font-size: 18px;
    color: #f94c76;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}