
#footer-logo {
    padding: 35px 0 0 0;
}

#footer-navigation, #social-links {
    ul {
        list-style-type: none;
        margin: 5px 0 0 0;
        padding: 0;

        li {
            font-size: 75%;
        }
    }

    h4 {
        font-size: 90%;
        margin: 0;
        padding: 0;
    }
}

#social-links ul li {
    margin: 5px 0 0 0;
}

#footer-navigation ul li a, #social-links ul li a {
    text-decoration: none;
    color: #515151;

    &:hover {
        color: #00b4ff;
    }
}

.social-icon { margin: 0 5px 0 0; }