#app {
    width: $pageContentWidth;
    margin: auto;
    min-height: 100%;
}

#header {
    background: url('../img/header_bg.png') repeat-x;

    #header-container {
        width: $pageContentWidth;
        #logo { float: left; }
    }
}

#main-content {
    margin: 25px 0 65px 0;
    overflow: auto;
    padding: 0 0 165px 0;
}

#footer {
    background: #FFF;
    height: 165px;
    position: relative;
    margin: -165px 0 0 0;
    clear: both;
}

#footer-wrapper {
    width: $pageContentWidth;
    margin: auto;
    padding: 20px 0 0 0;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9,  .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    position: relative;
}

#new-releases-container {
    padding: 0 15px 15px 15px;
    border-top: 0px;
}

/* Module headings for both main modules and sidebar modules */
.module-heading {
    color: #FFF;
    background: #55c8ff;
    margin: 15px 0 0 0;
    padding: 0 0 0 15px;
}

.sidebar-module-heading {
    background: #ff008a;
    margin: 0px;
}

.main-module-container {
    background: #FFF;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 15px;
}

.full-width-container {
    width: 960px;
}