



/***************************************************************************************

Single Track page

****************************************************************************************/

#track-meta h4, #track-meta p {
    margin: 0;
    padding: 0;
}

#track-meta p {
    font-size: 75%;
}

#track-module-container, #artist-module-container {
    padding: 15px;
}

#track-video {
    margin: 15px 0 0 0;
}

#disqus_thread {
    margin: 15px 0 0 0;
}

/***************************************************************************************

Main tracks list page

****************************************************************************************/


/***************************************************************************************

Playlists list page

****************************************************************************************/

#playlist-table {
    margin: 10px 0 0 0;
}

#create-playlist-textbox {
    width: 200px;
}

/***************************************************************************************

Single playlist list page

****************************************************************************************/

.playlist-track-count-col {
    color: #9C9C9C;
    font-size: 13pt;
    font-weight: bold;
}

.playlist-track-count-col {
    width: 25px;
}

.playlist-play-col {
    width: 15px;
}

/***************************************************************************************

Sidebar

****************************************************************************************/
#sidebar {
    width: 320px;
}

.sidebar-module {
    border: 1px solid #cccccc;
    border-top: 0px;
    margin: 0 0 45px 0;
}


#player {
    background: url('../img/player_bg.png') repeat-x;
    border: 1px solid #6d6d6d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 87px;
    padding: 5px 10px 5px 10px;
}

#player-container {
    padding: 10px 0 0 5px;
}

#album-art {
    border: 1px solid #FFF;
    float: left;
}

#player-controls {
    padding: 0 0 0 15px;
    float: left;
}

#currently-playing-text {
    font-size: 75%;
    color: #FFF;
    padding: 0;
    margin: 5px 0 0 0;
    text-shadow: 0px 1px 0px rgba(87, 87, 87, 1);
}

#controls {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#controls li {
    float: left;
    margin: 0 8px 0 0;
}

#popular-tracks {
    border-top: 0px;
    background: #FFF;
    padding: 10px 15px 15px 15px;
    overflow: hidden;
}

#popular-tracks-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#popular-tracks-list p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#popular-tracks-list li {
    margin: 0 0 30px 0;
}

#popular-tracks-list li:last-child {
    margin: 0;
}

.popular-track-thumbnail {
    float: left;
    margin: 0 5px 0 0;
}

.popular-track-meta {
    padding: 0 0 0 3px;
}
/***************************************************************************************

Login page

****************************************************************************************/

#login-view {
}

.form-signup, .form-signin {
    margin: 15px auto 0 auto;
    background: #FFF;
    padding: 0 25px 25px 25px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin {
    width: 300px;
}

.form-signup {
    width: 425px;
}


.modal-form-input {
    width: 260px;
}

#login-errors { font-size: 75%; display: none; }

/***************************************************************************************

Boostrap overrides

****************************************************************************************/



.alert-info a {
    color: #f94c76;
}


/***************************************************************************************

Global

****************************************************************************************/

.btn a { color :#FFF; }

.btn-custom {
  background-color: hsl(196, 100%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42ccfe", endColorstr="#00a0db");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#42ccfe), to(#00a0db));
  background-image: -moz-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -ms-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42ccfe), color-stop(100%, #00a0db));
  background-image: -webkit-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -o-linear-gradient(top, #42ccfe, #00a0db);
  background-image: linear-gradient(#42ccfe, #00a0db);
  border-color: #00a0db #00a0db hsl(196, 100%, 38%);
  color: #FFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);;
  -webkit-font-smoothing: antialiased;
}

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

/* Table filters (ex: tracks, artists, playlists, etc) */

.list-options {
    background: #eeeeee;
    border: 1px solid #d1d1d1;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px 0;
}

.list-options h4 {
    padding: 0;
    margin: 0;
}

.sorts-container, .layout-options-container {
    float: left;
}

.layout-options-container {
    margin: 0 0 0 20px;
}

.main-sorts, .secondary-sorts {
    float: left;
    margin: 0 20px 0 0;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}