.artists-container {
    width: 960px;
}

.artists-list-header {
    padding: 10px 10px 5px 10px;
    background: #FFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px #cccccc;
    -webkit-box-shadow: 0 1px #cccccc;
    box-shadow: 0 1px #cccccc;
    overflow: hidden;
    clear:both;

    h4 {
        margin: 0; padding: 0;
    }
}

.artists-list-heading-left { float: left; }
.artists-list-heading-right { float: right; }

.artists-list-container {
    margin: 20px 0 20px 0;
}

.artists-list {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.artist-item {
    cursor: pointer;
    font-size: 12px;
    float: left;
    width: 114px;
    margin: 30px 25px 0 0;
    &:nth-child(7n+7) {
        margin: 30px 0 0 0;
    }
    &:nth-child(-n+7) {
        margin-top: 0;
    }
}

.artist-item-profile-image {
    border: 1px solid #000;
}

.artist-item-header {
    background: #FFF;
    padding: 0 0 0 3px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 119px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    font-weight: bold;
}

.artists-pagination {
    margin: 15px auto;
    width: 100%;
    float: left;

    #next-btn {
        float: right;
    }
}

.artist-search {
    float: right;
}

.filter-type-container {
    margin: 0 0 15px 0;

    .filter-type-controls {
        margin: 3px 0 0 5px;
    }
}
