.filters-container {
    background: #EEE;
    border: 1px solid #D9D7D7;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    display: none;
}

.filter-col {
    float: left;
    font-size: 13px;
    a {
        color: #515151;
    }
    h4 {
        margin: 0;
        padding: 0;
    }
    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0 35px 0 0;
        }
    }
}

.active-filter a {
    color: #049AE1;
}