
#featured-container {
    width: 100%;
    height: 280px;
    background: #FFF;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0px 2px 4px 0px #dcdcdc;
    box-shadow: 0px 2px 4px 0px #dcdcdc;
    margin: 0 0 20px 0;
}

#main-banner, #sub-banners { padding: 0; margin: 0; }

#main-banner {
    float: left;
    position: relative;

    h3 {
        z-index: 3;
        position: absolute;
        top: -2px;
        margin: 0 0 0 15px;
        padding: 0;
        left: 0;
    }

    h3 span {
        color: #FFF;
        font-weight: normal;
    }

    img {
        z-index: 1;
        position: relative;
    }
}

.featured-banner-bg {
    height: 35px;
    width: 100%;
    background: #000;
    z-index: 2;
    position: absolute;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#sub-banners {
    float: right;
    width: 140px;
}

.side-banner {
    position: relative;
    h4 {
        font-weight: normal;
        z-index: 3;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        margin: 2px 5px 0 5px;
        line-height: .9;
    }

    h4 span {
        color: #FFF;
        font-size: 75%;
    }

    img {
        z-index: 1;
        position: relative;
    }
}

.featured-header-small {
    height: 35px;
    width: 100%;
    background: #000;
    z-index: 2;
    position: absolute;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}