
#secondary-navigation {
    float: right;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 10px;

    .btn {
        &:hover { color: #333333; }
    }
}

.user-navigation {
    float: right;
    margin: 10px 0 0 0;
    a {
        color: #515151;
        &:hover {
            text-decoration: none;
            cursor: pointer;
            color: #636363;
        }
    }
}

#profile-link {
    color: #515151;
    text-decoration: none;
}

#main-navigation {
    margin: 15px 0 0 0;
    float: left;
    padding: 0 0 0 15px;
    list-style-type: none;

    li {
        float: left;
        margin: 0 15px 0 0;

        a {
            text-decoration: none;
            color: #515151;

            &:hover {
                color: #00b4ff;
            }
        }
    }
}

#navigation-seperator {
    margin: 5px 0 5px 0;
}


#search {
    float: right;
    padding: 10px 0 0 0;
}

#search-box {
    color: #515151;
    width: 235px;
    float: left;
}
