
#new-releases-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
        margin: 15px 39px 0 0;
        width: 20%;
        height: 176px;

        &:nth-child(4n+4) {
            margin: 15px 0 0 0;
        }
    }
}

.new-release-desc {
    float: left;
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;

    a {
        margin: 0;
        padding: 0;

        &:hover {
            color: #55c8ff;
        }
    }
}

.new-release-album-art {
    float: left;
    width: 100px;
    height: 100px;
}

.new-release-title {
    font-size: 14px;
    color: #049ae1;
}
.new-release-artist {
    font-size: 12px;
    color: #515151;
}