.tracks-list-header {
    margin: 0 0 15px 0;
    padding: 10px 10px 5px 10px;
    background: #FFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px #cccccc;
    -webkit-box-shadow: 0 1px #cccccc;
    box-shadow: 0 1px #cccccc;
    overflow: hidden;
}

#tracks-table {
    width: 100%;
    //border:1px solid #3e3e3e;
    border: none;
    font-size: 14px;
    color: #515151;
}

.metadata {
    padding: 4px 15px 0 15px;
    .artist {
        font-size: 12px;
        color: #dfdfdf;
    }
    .title {
        font-weight: bold;
    }
}

.track-row {
    height: 52px;
    td {
        border: none;
        border-bottom: 1px solid #cccccc;
    }

    &:hover {
        background: #edf9ff;
        td {
            border-bottom: 1px solid #cccccc;
        }
    }

    a {
        color: #515151;
        &:hover {
            text-decoration: underline;
        }
    }
}

.track-options-heading {
    width: 90px;
}

.track-options  {
    display: none;
    margin: 0;
    padding: 0;

    .btn {
        a {
            color: #515151;
            text-decoration: none;
        }
    }
}

.sort-btn {
    float: left;
}

.track-search {
    float: right;
}

.sort-dropdown, #filter-btn {
    float: left;
}

#filter-btn {
    margin: 0 10px 0 0;
}

.sort-order-dropdown {
    margin: 0 0 0 10px;
    float: left;
}

.pagination {
    ul {
        padding: 0;
        margin: 0;
    }
}