.single-track-container {
    background: #FFF;
    border: 1px solid #cccccc;
    width: 928px;
    padding: 15px;
}

.single-track-sidebar {
    width: 318px;
}

.single-track-main-col {
    width: 570px;
}

.track-meta-title {
    font-weight: bold;
}

.single-track-options {
    margin: 10px 0 0 0;

    .btn a {
        color: #333333;
    }

    .single-track-main-options {
        float: left;
    }

    .voting-options {
        float: right;
    }
}