/* line 1, ../../sass/modules/artists_filter_sidebar.scss */
.sidebar-container {
  padding: 10px 15px 15px 15px;
  overflow: hidden;
  background: #FFF;
}
/* line 6, ../../sass/modules/artists_filter_sidebar.scss */
.sidebar-container h4 {
  margin: 0;
  padding: 0;
}
