/* line 1, ../../sass/modules/artists_list.scss */
.artists-container {
  width: 960px;
}

/* line 5, ../../sass/modules/artists_list.scss */
.artists-list-header {
  padding: 10px 10px 5px 10px;
  background: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 1px #cccccc;
  -webkit-box-shadow: 0 1px #cccccc;
  box-shadow: 0 1px #cccccc;
  overflow: hidden;
  clear: both;
}
/* line 17, ../../sass/modules/artists_list.scss */
.artists-list-header h4 {
  margin: 0;
  padding: 0;
}

/* line 22, ../../sass/modules/artists_list.scss */
.artists-list-heading-left {
  float: left;
}

/* line 23, ../../sass/modules/artists_list.scss */
.artists-list-heading-right {
  float: right;
}

/* line 25, ../../sass/modules/artists_list.scss */
.artists-list-container {
  margin: 20px 0 20px 0;
}

/* line 29, ../../sass/modules/artists_list.scss */
.artists-list {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* line 35, ../../sass/modules/artists_list.scss */
.artist-item {
  cursor: pointer;
  font-size: 12px;
  float: left;
  width: 114px;
  margin: 30px 25px 0 0;
}
/* line 41, ../../sass/modules/artists_list.scss */
.artist-item:nth-child(7n+7) {
  margin: 30px 0 0 0;
}
/* line 44, ../../sass/modules/artists_list.scss */
.artist-item:nth-child(-n+7) {
  margin-top: 0;
}

/* line 49, ../../sass/modules/artists_list.scss */
.artist-item-profile-image {
  border: 1px solid #000;
}

/* line 53, ../../sass/modules/artists_list.scss */
.artist-item-header {
  background: #FFF;
  padding: 0 0 0 3px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 119px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

/* line 67, ../../sass/modules/artists_list.scss */
.artists-pagination {
  margin: 15px auto;
  width: 100%;
  float: left;
}
/* line 72, ../../sass/modules/artists_list.scss */
.artists-pagination #next-btn {
  float: right;
}

/* line 77, ../../sass/modules/artists_list.scss */
.artist-search {
  float: right;
}

/* line 81, ../../sass/modules/artists_list.scss */
.filter-type-container {
  margin: 0 0 15px 0;
}
/* line 84, ../../sass/modules/artists_list.scss */
.filter-type-container .filter-type-controls {
  margin: 3px 0 0 5px;
}
