/* line 1, ../../sass/modules/filters_container.scss */
.filters-container {
  background: #EEE;
  border: 1px solid #D9D7D7;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  display: none;
}

/* line 9, ../../sass/modules/filters_container.scss */
.filter-col {
  float: left;
  font-size: 13px;
}
/* line 12, ../../sass/modules/filters_container.scss */
.filter-col a {
  color: #515151;
}
/* line 15, ../../sass/modules/filters_container.scss */
.filter-col h4 {
  margin: 0;
  padding: 0;
}
/* line 19, ../../sass/modules/filters_container.scss */
.filter-col ul {
  margin: 0;
  padding: 0;
}
/* line 23, ../../sass/modules/filters_container.scss */
.filter-col ul li {
  margin: 0 35px 0 0;
}

/* line 29, ../../sass/modules/filters_container.scss */
.active-filter a {
  color: #049AE1;
}
