/* line 2, ../../sass/modules/home_featured.scss */
#featured-container {
  width: 100%;
  height: 280px;
  background: #FFF;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 2px 4px 0px gainsboro;
  box-shadow: 0px 2px 4px 0px gainsboro;
  margin: 0 0 20px 0;
}

/* line 12, ../../sass/modules/home_featured.scss */
#main-banner, #sub-banners {
  padding: 0;
  margin: 0;
}

/* line 14, ../../sass/modules/home_featured.scss */
#main-banner {
  float: left;
  position: relative;
}
/* line 18, ../../sass/modules/home_featured.scss */
#main-banner h3 {
  z-index: 3;
  position: absolute;
  top: -2px;
  margin: 0 0 0 15px;
  padding: 0;
  left: 0;
}
/* line 27, ../../sass/modules/home_featured.scss */
#main-banner h3 span {
  color: #FFF;
  font-weight: normal;
}
/* line 32, ../../sass/modules/home_featured.scss */
#main-banner img {
  z-index: 1;
  position: relative;
}

/* line 38, ../../sass/modules/home_featured.scss */
.featured-banner-bg {
  height: 35px;
  width: 100%;
  background: #000;
  z-index: 2;
  position: absolute;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 50, ../../sass/modules/home_featured.scss */
#sub-banners {
  float: right;
  width: 140px;
}

/* line 55, ../../sass/modules/home_featured.scss */
.side-banner {
  position: relative;
}
/* line 57, ../../sass/modules/home_featured.scss */
.side-banner h4 {
  font-weight: normal;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 2px 5px 0 5px;
  line-height: .9;
}
/* line 68, ../../sass/modules/home_featured.scss */
.side-banner h4 span {
  color: #FFF;
  font-size: 75%;
}
/* line 73, ../../sass/modules/home_featured.scss */
.side-banner img {
  z-index: 1;
  position: relative;
}

/* line 79, ../../sass/modules/home_featured.scss */
.featured-header-small {
  height: 35px;
  width: 100%;
  background: #000;
  z-index: 2;
  position: absolute;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
