/* line 2, ../../sass/modules/main_navigations.scss */
#secondary-navigation {
  float: right;
  list-style-type: none;
  margin-left: 20px;
  margin-top: 10px;
}
/* line 9, ../../sass/modules/main_navigations.scss */
#secondary-navigation .btn:hover {
  color: #333333;
}

/* line 13, ../../sass/modules/main_navigations.scss */
.user-navigation {
  float: right;
  margin: 10px 0 0 0;
}
/* line 16, ../../sass/modules/main_navigations.scss */
.user-navigation a {
  color: #515151;
}
/* line 18, ../../sass/modules/main_navigations.scss */
.user-navigation a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #636363;
}

/* line 26, ../../sass/modules/main_navigations.scss */
#profile-link {
  color: #515151;
  text-decoration: none;
}

/* line 31, ../../sass/modules/main_navigations.scss */
#main-navigation {
  margin: 15px 0 0 0;
  float: left;
  padding: 0 0 0 15px;
  list-style-type: none;
}
/* line 37, ../../sass/modules/main_navigations.scss */
#main-navigation li {
  float: left;
  margin: 0 15px 0 0;
}
/* line 41, ../../sass/modules/main_navigations.scss */
#main-navigation li a {
  text-decoration: none;
  color: #515151;
}
/* line 45, ../../sass/modules/main_navigations.scss */
#main-navigation li a:hover {
  color: #00b4ff;
}

/* line 52, ../../sass/modules/main_navigations.scss */
#navigation-seperator {
  margin: 5px 0 5px 0;
}

/* line 57, ../../sass/modules/main_navigations.scss */
#search {
  float: right;
  padding: 10px 0 0 0;
}

/* line 62, ../../sass/modules/main_navigations.scss */
#search-box {
  color: #515151;
  width: 235px;
  float: left;
}
