/* line 2, ../../sass/modules/new_releases.scss */
#new-releases-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 8, ../../sass/modules/new_releases.scss */
#new-releases-list li {
  float: left;
  margin: 15px 39px 0 0;
  width: 20%;
  height: 176px;
}
/* line 14, ../../sass/modules/new_releases.scss */
#new-releases-list li:nth-child(4n+4) {
  margin: 15px 0 0 0;
}

/* line 20, ../../sass/modules/new_releases.scss */
.new-release-desc {
  float: left;
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
}
/* line 26, ../../sass/modules/new_releases.scss */
.new-release-desc a {
  margin: 0;
  padding: 0;
}
/* line 30, ../../sass/modules/new_releases.scss */
.new-release-desc a:hover {
  color: #55c8ff;
}

/* line 36, ../../sass/modules/new_releases.scss */
.new-release-album-art {
  float: left;
  width: 100px;
  height: 100px;
}

/* line 42, ../../sass/modules/new_releases.scss */
.new-release-title {
  font-size: 14px;
  color: #049ae1;
}

/* line 46, ../../sass/modules/new_releases.scss */
.new-release-artist {
  font-size: 12px;
  color: #515151;
}
