/* line 1, ../../sass/modules/tracks_list.scss */
.tracks-list-header {
  margin: 0 0 15px 0;
  padding: 10px 10px 5px 10px;
  background: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 1px #cccccc;
  -webkit-box-shadow: 0 1px #cccccc;
  box-shadow: 0 1px #cccccc;
  overflow: hidden;
}

/* line 14, ../../sass/modules/tracks_list.scss */
#tracks-table {
  width: 100%;
  border: none;
  font-size: 14px;
  color: #515151;
}

/* line 22, ../../sass/modules/tracks_list.scss */
.metadata {
  padding: 4px 15px 0 15px;
}
/* line 24, ../../sass/modules/tracks_list.scss */
.metadata .artist {
  font-size: 12px;
  color: #dfdfdf;
}
/* line 28, ../../sass/modules/tracks_list.scss */
.metadata .title {
  font-weight: bold;
}

/* line 33, ../../sass/modules/tracks_list.scss */
.track-row {
  height: 52px;
}
/* line 35, ../../sass/modules/tracks_list.scss */
.track-row td {
  border: none;
  border-bottom: 1px solid #cccccc;
}
/* line 40, ../../sass/modules/tracks_list.scss */
.track-row:hover {
  background: #edf9ff;
}
/* line 42, ../../sass/modules/tracks_list.scss */
.track-row:hover td {
  border-bottom: 1px solid #cccccc;
}
/* line 47, ../../sass/modules/tracks_list.scss */
.track-row a {
  color: #515151;
}
/* line 49, ../../sass/modules/tracks_list.scss */
.track-row a:hover {
  text-decoration: underline;
}

/* line 55, ../../sass/modules/tracks_list.scss */
.track-options-heading {
  width: 90px;
}

/* line 59, ../../sass/modules/tracks_list.scss */
.track-options {
  display: none;
  margin: 0;
  padding: 0;
}
/* line 65, ../../sass/modules/tracks_list.scss */
.track-options .btn a {
  color: #515151;
  text-decoration: none;
}

/* line 72, ../../sass/modules/tracks_list.scss */
.sort-btn {
  float: left;
}

/* line 76, ../../sass/modules/tracks_list.scss */
.track-search {
  float: right;
}

/* line 80, ../../sass/modules/tracks_list.scss */
.sort-dropdown, #filter-btn {
  float: left;
}

/* line 84, ../../sass/modules/tracks_list.scss */
#filter-btn {
  margin: 0 10px 0 0;
}

/* line 88, ../../sass/modules/tracks_list.scss */
.sort-order-dropdown {
  margin: 0 0 0 10px;
  float: left;
}

/* line 94, ../../sass/modules/tracks_list.scss */
.pagination ul {
  padding: 0;
  margin: 0;
}
