/* line 1, ../../sass/views/single_track_view.scss */
.single-track-container {
  background: #FFF;
  border: 1px solid #cccccc;
  width: 928px;
  padding: 15px;
}

/* line 8, ../../sass/views/single_track_view.scss */
.single-track-sidebar {
  width: 318px;
}

/* line 12, ../../sass/views/single_track_view.scss */
.single-track-main-col {
  width: 570px;
}

/* line 16, ../../sass/views/single_track_view.scss */
.track-meta-title {
  font-weight: bold;
}

/* line 20, ../../sass/views/single_track_view.scss */
.single-track-options {
  margin: 10px 0 0 0;
}
/* line 23, ../../sass/views/single_track_view.scss */
.single-track-options .btn a {
  color: #333333;
}
/* line 27, ../../sass/views/single_track_view.scss */
.single-track-options .single-track-main-options {
  float: left;
}
/* line 31, ../../sass/views/single_track_view.scss */
.single-track-options .voting-options {
  float: right;
}
