
/***************************************************************************************

GAdmin styles

****************************************************************************************/

.delete-track {
    cursor: pointer;
}

.edit-artist-description {
    width: 100%;
}

.get-lastfm-desc { cursor: pointer; }