/* line 2, ../sass/footer.scss */
#footer-logo {
  padding: 35px 0 0 0;
}

/* line 7, ../sass/footer.scss */
#footer-navigation ul, #social-links ul {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
}
/* line 12, ../sass/footer.scss */
#footer-navigation ul li, #social-links ul li {
  font-size: 75%;
}
/* line 17, ../sass/footer.scss */
#footer-navigation h4, #social-links h4 {
  font-size: 90%;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/footer.scss */
#social-links ul li {
  margin: 5px 0 0 0;
}

/* line 28, ../sass/footer.scss */
#footer-navigation ul li a, #social-links ul li a {
  text-decoration: none;
  color: #515151;
}
/* line 32, ../sass/footer.scss */
#footer-navigation ul li a:hover, #social-links ul li a:hover {
  color: #00b4ff;
}

/* line 37, ../sass/footer.scss */
.social-icon {
  margin: 0 5px 0 0;
}
