/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../sass/helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../sass/helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 19, ../sass/helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../sass/helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 36, ../sass/helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 45, ../sass/helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../sass/helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/helpers.scss */
.clearfix {
  *zoom: 1;
}
