/***************************************************************************************

Single Track page

****************************************************************************************/
/* line 11, ../sass/main.scss */
#track-meta h4, #track-meta p {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/main.scss */
#track-meta p {
  font-size: 75%;
}

/* line 20, ../sass/main.scss */
#track-module-container, #artist-module-container {
  padding: 15px;
}

/* line 24, ../sass/main.scss */
#track-video {
  margin: 15px 0 0 0;
}

/* line 28, ../sass/main.scss */
#disqus_thread {
  margin: 15px 0 0 0;
}

/***************************************************************************************

Main tracks list page

****************************************************************************************/
/***************************************************************************************

Playlists list page

****************************************************************************************/
/* line 45, ../sass/main.scss */
#playlist-table {
  margin: 10px 0 0 0;
}

/* line 49, ../sass/main.scss */
#create-playlist-textbox {
  width: 200px;
}

/***************************************************************************************

Single playlist list page

****************************************************************************************/
/* line 59, ../sass/main.scss */
.playlist-track-count-col {
  color: #9C9C9C;
  font-size: 13pt;
  font-weight: bold;
}

/* line 65, ../sass/main.scss */
.playlist-track-count-col {
  width: 25px;
}

/* line 69, ../sass/main.scss */
.playlist-play-col {
  width: 15px;
}

/***************************************************************************************

Sidebar

****************************************************************************************/
/* line 78, ../sass/main.scss */
#sidebar {
  width: 320px;
}

/* line 82, ../sass/main.scss */
.sidebar-module {
  border: 1px solid #cccccc;
  border-top: 0px;
  margin: 0 0 45px 0;
}

/* line 89, ../sass/main.scss */
#player {
  background: url("../img/player_bg.png") repeat-x;
  border: 1px solid #6d6d6d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 87px;
  padding: 5px 10px 5px 10px;
}

/* line 99, ../sass/main.scss */
#player-container {
  padding: 10px 0 0 5px;
}

/* line 103, ../sass/main.scss */
#album-art {
  border: 1px solid #FFF;
  float: left;
}

/* line 108, ../sass/main.scss */
#player-controls {
  padding: 0 0 0 15px;
  float: left;
}

/* line 113, ../sass/main.scss */
#currently-playing-text {
  font-size: 75%;
  color: #FFF;
  padding: 0;
  margin: 5px 0 0 0;
  text-shadow: 0px 1px 0px #575757;
}

/* line 121, ../sass/main.scss */
#controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 127, ../sass/main.scss */
#controls li {
  float: left;
  margin: 0 8px 0 0;
}

/* line 132, ../sass/main.scss */
#popular-tracks {
  border-top: 0px;
  background: #FFF;
  padding: 10px 15px 15px 15px;
  overflow: hidden;
}

/* line 139, ../sass/main.scss */
#popular-tracks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 145, ../sass/main.scss */
#popular-tracks-list p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 151, ../sass/main.scss */
#popular-tracks-list li {
  margin: 0 0 30px 0;
}

/* line 155, ../sass/main.scss */
#popular-tracks-list li:last-child {
  margin: 0;
}

/* line 159, ../sass/main.scss */
.popular-track-thumbnail {
  float: left;
  margin: 0 5px 0 0;
}

/* line 164, ../sass/main.scss */
.popular-track-meta {
  padding: 0 0 0 3px;
}

/***************************************************************************************

Login page

****************************************************************************************/
/* line 176, ../sass/main.scss */
.form-signup, .form-signin {
  margin: 15px auto 0 auto;
  background: #FFF;
  padding: 0 25px 25px 25px;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 189, ../sass/main.scss */
.form-signin {
  width: 300px;
}

/* line 193, ../sass/main.scss */
.form-signup {
  width: 425px;
}

/* line 198, ../sass/main.scss */
.modal-form-input {
  width: 260px;
}

/* line 202, ../sass/main.scss */
#login-errors {
  font-size: 75%;
  display: none;
}

/***************************************************************************************

Boostrap overrides

****************************************************************************************/
/* line 212, ../sass/main.scss */
.alert-info a {
  color: #f94c76;
}

/***************************************************************************************

Global

****************************************************************************************/
/* line 223, ../sass/main.scss */
.btn a {
  color: #FFF;
}

/* line 225, ../sass/main.scss */
.btn-custom {
  background-color: #00a1db !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42ccfe", endColorstr="#00a0db");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#42ccfe), to(#00a0db));
  background-image: -moz-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -ms-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42ccfe), color-stop(100%, #00a0db));
  background-image: -webkit-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -o-linear-gradient(top, #42ccfe, #00a0db);
  background-image: linear-gradient(#42ccfe, #00a0db);
  border-color: #00a0db #00a0db #008ec2;
  color: #FFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
}

/* line 242, ../sass/main.scss */
.alpha {
  margin-left: 0;
}

/* line 243, ../sass/main.scss */
.omega {
  margin-right: 0;
}

/* Table filters (ex: tracks, artists, playlists, etc) */
/* line 247, ../sass/main.scss */
.list-options {
  background: #eeeeee;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  padding: 10px;
  margin: 0 0 10px 0;
}

/* line 255, ../sass/main.scss */
.list-options h4 {
  padding: 0;
  margin: 0;
}

/* line 260, ../sass/main.scss */
.sorts-container, .layout-options-container {
  float: left;
}

/* line 264, ../sass/main.scss */
.layout-options-container {
  margin: 0 0 0 20px;
}

/* line 268, ../sass/main.scss */
.main-sorts, .secondary-sorts {
  float: left;
  margin: 0 20px 0 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
