/* Global Variables */
/* line 1, ../sass/_base.scss */
body, html {
  height: 100%;
}

/* line 3, ../sass/_base.scss */
body {
  background: url("../img/bg_test2.png");
  /*font-family: 'Open Sans', Arial, sans-serif;*/
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 20px;
  color: #515151;
}

/*Opera Fix*/
/* line 13, ../sass/_base.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 21, ../sass/_base.scss */
a {
  color: #049AE1;
}
/* line 24, ../sass/_base.scss */
a:hover {
  text-decoration: underline;
  color: #47a7d5;
}

/* line 30, ../sass/_base.scss */
h2 {
  font-size: 18px;
  color: #f94c76;
}

/* line 35, ../sass/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 1, ../sass/layout.scss */
#app {
  width: 960px;
  margin: auto;
  min-height: 100%;
}

/* line 7, ../sass/layout.scss */
#header {
  background: url("../img/header_bg.png") repeat-x;
}
/* line 10, ../sass/layout.scss */
#header #header-container {
  width: 960px;
}
/* line 12, ../sass/layout.scss */
#header #header-container #logo {
  float: left;
}

/* line 16, ../sass/layout.scss */
#main-content {
  margin: 25px 0 65px 0;
  overflow: auto;
  padding: 0 0 165px 0;
}

/* line 22, ../sass/layout.scss */
#footer {
  background: #FFF;
  height: 165px;
  position: relative;
  margin: -165px 0 0 0;
  clear: both;
}

/* line 30, ../sass/layout.scss */
#footer-wrapper {
  width: 960px;
  margin: auto;
  padding: 20px 0 0 0;
}

/* line 36, ../sass/layout.scss */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  position: relative;
}

/* line 40, ../sass/layout.scss */
#new-releases-container {
  padding: 0 15px 15px 15px;
  border-top: 0px;
}

/* Module headings for both main modules and sidebar modules */
/* line 46, ../sass/layout.scss */
.module-heading {
  color: #FFF;
  background: #55c8ff;
  margin: 15px 0 0 0;
  padding: 0 0 0 15px;
}

/* line 53, ../sass/layout.scss */
.sidebar-module-heading {
  background: #ff008a;
  margin: 0px;
}

/* line 58, ../sass/layout.scss */
.main-module-container {
  background: #FFF;
  border: 1px solid #cccccc;
  border-top: 0;
  padding: 15px;
}

/* line 65, ../sass/layout.scss */
.full-width-container {
  width: 960px;
}

/* line 2, ../sass/modules/main_navigations.scss */
#secondary-navigation {
  float: right;
  list-style-type: none;
  margin-left: 20px;
  margin-top: 10px;
}
/* line 9, ../sass/modules/main_navigations.scss */
#secondary-navigation .btn:hover {
  color: #333333;
}

/* line 13, ../sass/modules/main_navigations.scss */
.user-navigation {
  float: right;
  margin: 10px 0 0 0;
}
/* line 16, ../sass/modules/main_navigations.scss */
.user-navigation a {
  color: #515151;
}
/* line 18, ../sass/modules/main_navigations.scss */
.user-navigation a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #636363;
}

/* line 26, ../sass/modules/main_navigations.scss */
#profile-link {
  color: #515151;
  text-decoration: none;
}

/* line 31, ../sass/modules/main_navigations.scss */
#main-navigation {
  margin: 15px 0 0 0;
  float: left;
  padding: 0 0 0 15px;
  list-style-type: none;
}
/* line 37, ../sass/modules/main_navigations.scss */
#main-navigation li {
  float: left;
  margin: 0 15px 0 0;
}
/* line 41, ../sass/modules/main_navigations.scss */
#main-navigation li a {
  text-decoration: none;
  color: #515151;
}
/* line 45, ../sass/modules/main_navigations.scss */
#main-navigation li a:hover {
  color: #00b4ff;
}

/* line 52, ../sass/modules/main_navigations.scss */
#navigation-seperator {
  margin: 5px 0 5px 0;
}

/* line 57, ../sass/modules/main_navigations.scss */
#search {
  float: right;
  padding: 10px 0 0 0;
}

/* line 62, ../sass/modules/main_navigations.scss */
#search-box {
  color: #515151;
  width: 235px;
  float: left;
}

/* line 2, ../sass/modules/home_featured.scss */
#featured-container {
  width: 100%;
  height: 280px;
  background: #FFF;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 2px 4px 0px #dcdcdc;
  box-shadow: 0px 2px 4px 0px #dcdcdc;
  margin: 0 0 20px 0;
}

/* line 12, ../sass/modules/home_featured.scss */
#main-banner, #sub-banners {
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/modules/home_featured.scss */
#main-banner {
  float: left;
  position: relative;
}
/* line 18, ../sass/modules/home_featured.scss */
#main-banner h3 {
  z-index: 3;
  position: absolute;
  top: -2px;
  margin: 0 0 0 15px;
  padding: 0;
  left: 0;
}
/* line 27, ../sass/modules/home_featured.scss */
#main-banner h3 span {
  color: #FFF;
  font-weight: normal;
}
/* line 32, ../sass/modules/home_featured.scss */
#main-banner img {
  z-index: 1;
  position: relative;
}

/* line 38, ../sass/modules/home_featured.scss */
.featured-banner-bg {
  height: 35px;
  width: 100%;
  background: #000;
  z-index: 2;
  position: absolute;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 50, ../sass/modules/home_featured.scss */
#sub-banners {
  float: right;
  width: 140px;
}

/* line 55, ../sass/modules/home_featured.scss */
.side-banner {
  position: relative;
}
/* line 57, ../sass/modules/home_featured.scss */
.side-banner h4 {
  font-weight: normal;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 2px 5px 0 5px;
  line-height: .9;
}
/* line 68, ../sass/modules/home_featured.scss */
.side-banner h4 span {
  color: #FFF;
  font-size: 75%;
}
/* line 73, ../sass/modules/home_featured.scss */
.side-banner img {
  z-index: 1;
  position: relative;
}

/* line 79, ../sass/modules/home_featured.scss */
.featured-header-small {
  height: 35px;
  width: 100%;
  background: #000;
  z-index: 2;
  position: absolute;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 2, ../sass/modules/new_releases.scss */
#new-releases-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 8, ../sass/modules/new_releases.scss */
#new-releases-list li {
  float: left;
  margin: 15px 39px 0 0;
  width: 20%;
  height: 176px;
}
/* line 14, ../sass/modules/new_releases.scss */
#new-releases-list li:nth-child(4n+4) {
  margin: 15px 0 0 0;
}

/* line 20, ../sass/modules/new_releases.scss */
.new-release-desc {
  float: left;
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
}
/* line 26, ../sass/modules/new_releases.scss */
.new-release-desc a {
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/modules/new_releases.scss */
.new-release-desc a:hover {
  color: #55c8ff;
}

/* line 36, ../sass/modules/new_releases.scss */
.new-release-album-art {
  float: left;
  width: 100px;
  height: 100px;
}

/* line 42, ../sass/modules/new_releases.scss */
.new-release-title {
  font-size: 14px;
  color: #049ae1;
}

/* line 46, ../sass/modules/new_releases.scss */
.new-release-artist {
  font-size: 12px;
  color: #515151;
}

/* line 1, ../sass/modules/artists_list.scss */
.artists-container {
  width: 960px;
}

/* line 5, ../sass/modules/artists_list.scss */
.artists-list-header {
  padding: 10px 10px 5px 10px;
  background: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 1px #cccccc;
  -webkit-box-shadow: 0 1px #cccccc;
  box-shadow: 0 1px #cccccc;
  overflow: hidden;
  clear: both;
}
/* line 17, ../sass/modules/artists_list.scss */
.artists-list-header h4 {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/modules/artists_list.scss */
.artists-list-heading-left {
  float: left;
}

/* line 23, ../sass/modules/artists_list.scss */
.artists-list-heading-right {
  float: right;
}

/* line 25, ../sass/modules/artists_list.scss */
.artists-list-container {
  margin: 20px 0 20px 0;
}

/* line 29, ../sass/modules/artists_list.scss */
.artists-list {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* line 35, ../sass/modules/artists_list.scss */
.artist-item {
  cursor: pointer;
  font-size: 12px;
  float: left;
  width: 114px;
  margin: 30px 25px 0 0;
}
/* line 41, ../sass/modules/artists_list.scss */
.artist-item:nth-child(7n+7) {
  margin: 30px 0 0 0;
}
/* line 44, ../sass/modules/artists_list.scss */
.artist-item:nth-child(-n+7) {
  margin-top: 0;
}

/* line 49, ../sass/modules/artists_list.scss */
.artist-item-profile-image {
  border: 1px solid #000;
}

/* line 53, ../sass/modules/artists_list.scss */
.artist-item-header {
  background: #FFF;
  padding: 0 0 0 3px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 119px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

/* line 67, ../sass/modules/artists_list.scss */
.artists-pagination {
  margin: 15px auto;
  width: 100%;
  float: left;
}
/* line 72, ../sass/modules/artists_list.scss */
.artists-pagination #next-btn {
  float: right;
}

/* line 77, ../sass/modules/artists_list.scss */
.artist-search {
  float: right;
}

/* line 81, ../sass/modules/artists_list.scss */
.filter-type-container {
  margin: 0 0 15px 0;
}
/* line 84, ../sass/modules/artists_list.scss */
.filter-type-container .filter-type-controls {
  margin: 3px 0 0 5px;
}

/* line 1, ../sass/modules/artists_filter_sidebar.scss */
.sidebar-container {
  padding: 10px 15px 15px 15px;
  overflow: hidden;
  background: #FFF;
}
/* line 6, ../sass/modules/artists_filter_sidebar.scss */
.sidebar-container h4 {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/modules/tracks_list.scss */
.tracks-list-header {
  margin: 0 0 15px 0;
  padding: 10px 10px 5px 10px;
  background: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 1px #cccccc;
  -webkit-box-shadow: 0 1px #cccccc;
  box-shadow: 0 1px #cccccc;
  overflow: hidden;
}

/* line 14, ../sass/modules/tracks_list.scss */
#tracks-table {
  width: 100%;
  border: none;
  font-size: 14px;
  color: #515151;
}

/* line 22, ../sass/modules/tracks_list.scss */
.metadata {
  padding: 4px 15px 0 15px;
}
/* line 24, ../sass/modules/tracks_list.scss */
.metadata .artist {
  font-size: 12px;
  color: #dfdfdf;
}
/* line 28, ../sass/modules/tracks_list.scss */
.metadata .title {
  font-weight: bold;
}

/* line 33, ../sass/modules/tracks_list.scss */
.track-row {
  height: 52px;
}
/* line 35, ../sass/modules/tracks_list.scss */
.track-row td {
  border: none;
  border-bottom: 1px solid #cccccc;
}
/* line 40, ../sass/modules/tracks_list.scss */
.track-row:hover {
  background: #edf9ff;
}
/* line 42, ../sass/modules/tracks_list.scss */
.track-row:hover td {
  border-bottom: 1px solid #cccccc;
}
/* line 47, ../sass/modules/tracks_list.scss */
.track-row a {
  color: #515151;
}
/* line 49, ../sass/modules/tracks_list.scss */
.track-row a:hover {
  text-decoration: underline;
}

/* line 55, ../sass/modules/tracks_list.scss */
.track-options-heading {
  width: 90px;
}

/* line 59, ../sass/modules/tracks_list.scss */
.track-options {
  display: none;
  margin: 0;
  padding: 0;
}
/* line 65, ../sass/modules/tracks_list.scss */
.track-options .btn a {
  color: #515151;
  text-decoration: none;
}

/* line 72, ../sass/modules/tracks_list.scss */
.sort-btn {
  float: left;
}

/* line 76, ../sass/modules/tracks_list.scss */
.track-search {
  float: right;
}

/* line 80, ../sass/modules/tracks_list.scss */
.sort-dropdown, #filter-btn {
  float: left;
}

/* line 84, ../sass/modules/tracks_list.scss */
#filter-btn {
  margin: 0 10px 0 0;
}

/* line 88, ../sass/modules/tracks_list.scss */
.sort-order-dropdown {
  margin: 0 0 0 10px;
  float: left;
}

/* line 94, ../sass/modules/tracks_list.scss */
.pagination ul {
  padding: 0;
  margin: 0;
}

/* line 1, ../sass/modules/filters_container.scss */
.filters-container {
  background: #EEE;
  border: 1px solid #D9D7D7;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  display: none;
}

/* line 9, ../sass/modules/filters_container.scss */
.filter-col {
  float: left;
  font-size: 13px;
}
/* line 12, ../sass/modules/filters_container.scss */
.filter-col a {
  color: #515151;
}
/* line 15, ../sass/modules/filters_container.scss */
.filter-col h4 {
  margin: 0;
  padding: 0;
}
/* line 19, ../sass/modules/filters_container.scss */
.filter-col ul {
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/modules/filters_container.scss */
.filter-col ul li {
  margin: 0 35px 0 0;
}

/* line 29, ../sass/modules/filters_container.scss */
.active-filter a {
  color: #049AE1;
}

/* line 1, ../sass/views/single_track_view.scss */
.single-track-container {
  background: #FFF;
  border: 1px solid #cccccc;
  width: 928px;
  padding: 15px;
}

/* line 8, ../sass/views/single_track_view.scss */
.single-track-sidebar {
  width: 318px;
}

/* line 12, ../sass/views/single_track_view.scss */
.single-track-main-col {
  width: 570px;
}

/* line 16, ../sass/views/single_track_view.scss */
.track-meta-title {
  font-weight: bold;
}

/* line 20, ../sass/views/single_track_view.scss */
.single-track-options {
  margin: 10px 0 0 0;
}
/* line 23, ../sass/views/single_track_view.scss */
.single-track-options .btn a {
  color: #333333;
}
/* line 27, ../sass/views/single_track_view.scss */
.single-track-options .single-track-main-options {
  float: left;
}
/* line 31, ../sass/views/single_track_view.scss */
.single-track-options .voting-options {
  float: right;
}

/***************************************************************************************

Single Track page

****************************************************************************************/
/* line 11, ../sass/main.scss */
#track-meta h4, #track-meta p {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/main.scss */
#track-meta p {
  font-size: 75%;
}

/* line 20, ../sass/main.scss */
#track-module-container, #artist-module-container {
  padding: 15px;
}

/* line 24, ../sass/main.scss */
#track-video {
  margin: 15px 0 0 0;
}

/* line 28, ../sass/main.scss */
#disqus_thread {
  margin: 15px 0 0 0;
}

/***************************************************************************************

Main tracks list page

****************************************************************************************/
/***************************************************************************************

Playlists list page

****************************************************************************************/
/* line 45, ../sass/main.scss */
#playlist-table {
  margin: 10px 0 0 0;
}

/* line 49, ../sass/main.scss */
#create-playlist-textbox {
  width: 200px;
}

/***************************************************************************************

Single playlist list page

****************************************************************************************/
/* line 59, ../sass/main.scss */
.playlist-track-count-col {
  color: #9C9C9C;
  font-size: 13pt;
  font-weight: bold;
}

/* line 65, ../sass/main.scss */
.playlist-track-count-col {
  width: 25px;
}

/* line 69, ../sass/main.scss */
.playlist-play-col {
  width: 15px;
}

/***************************************************************************************

Sidebar

****************************************************************************************/
/* line 78, ../sass/main.scss */
#sidebar {
  width: 320px;
}

/* line 82, ../sass/main.scss */
.sidebar-module {
  border: 1px solid #cccccc;
  border-top: 0px;
  margin: 0 0 45px 0;
}

/* line 89, ../sass/main.scss */
#player {
  background: url("../img/player_bg.png") repeat-x;
  border: 1px solid #6d6d6d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 87px;
  padding: 5px 10px 5px 10px;
}

/* line 99, ../sass/main.scss */
#player-container {
  padding: 10px 0 0 5px;
}

/* line 103, ../sass/main.scss */
#album-art {
  border: 1px solid #FFF;
  float: left;
}

/* line 108, ../sass/main.scss */
#player-controls {
  padding: 0 0 0 15px;
  float: left;
}

/* line 113, ../sass/main.scss */
#currently-playing-text {
  font-size: 75%;
  color: #FFF;
  padding: 0;
  margin: 5px 0 0 0;
  text-shadow: 0px 1px 0px #575757;
}

/* line 121, ../sass/main.scss */
#controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 127, ../sass/main.scss */
#controls li {
  float: left;
  margin: 0 8px 0 0;
}

/* line 132, ../sass/main.scss */
#popular-tracks {
  border-top: 0px;
  background: #FFF;
  padding: 10px 15px 15px 15px;
  overflow: hidden;
}

/* line 139, ../sass/main.scss */
#popular-tracks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 145, ../sass/main.scss */
#popular-tracks-list p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 151, ../sass/main.scss */
#popular-tracks-list li {
  margin: 0 0 30px 0;
}

/* line 155, ../sass/main.scss */
#popular-tracks-list li:last-child {
  margin: 0;
}

/* line 159, ../sass/main.scss */
.popular-track-thumbnail {
  float: left;
  margin: 0 5px 0 0;
}

/* line 164, ../sass/main.scss */
.popular-track-meta {
  padding: 0 0 0 3px;
}

/***************************************************************************************

Login page

****************************************************************************************/
/* line 176, ../sass/main.scss */
.form-signup, .form-signin {
  margin: 15px auto 0 auto;
  background: #FFF;
  padding: 0 25px 25px 25px;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 189, ../sass/main.scss */
.form-signin {
  width: 300px;
}

/* line 193, ../sass/main.scss */
.form-signup {
  width: 425px;
}

/* line 198, ../sass/main.scss */
.modal-form-input {
  width: 260px;
}

/* line 202, ../sass/main.scss */
#login-errors {
  font-size: 75%;
  display: none;
}

/***************************************************************************************

Boostrap overrides

****************************************************************************************/
/* line 212, ../sass/main.scss */
.alert-info a {
  color: #f94c76;
}

/***************************************************************************************

Global

****************************************************************************************/
/* line 223, ../sass/main.scss */
.btn a {
  color: #FFF;
}

/* line 225, ../sass/main.scss */
.btn-custom {
  background-color: #00a1db !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42ccfe", endColorstr="#00a0db");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#42ccfe), to(#00a0db));
  background-image: -moz-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -ms-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42ccfe), color-stop(100%, #00a0db));
  background-image: -webkit-linear-gradient(top, #42ccfe, #00a0db);
  background-image: -o-linear-gradient(top, #42ccfe, #00a0db);
  background-image: linear-gradient(#42ccfe, #00a0db);
  border-color: #00a0db #00a0db #008ec2;
  color: #FFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
}

/* line 242, ../sass/main.scss */
.alpha {
  margin-left: 0;
}

/* line 243, ../sass/main.scss */
.omega {
  margin-right: 0;
}

/* Table filters (ex: tracks, artists, playlists, etc) */
/* line 247, ../sass/main.scss */
.list-options {
  background: #eeeeee;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  padding: 10px;
  margin: 0 0 10px 0;
}

/* line 255, ../sass/main.scss */
.list-options h4 {
  padding: 0;
  margin: 0;
}

/* line 260, ../sass/main.scss */
.sorts-container, .layout-options-container {
  float: left;
}

/* line 264, ../sass/main.scss */
.layout-options-container {
  margin: 0 0 0 20px;
}

/* line 268, ../sass/main.scss */
.main-sorts, .secondary-sorts {
  float: left;
  margin: 0 20px 0 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* line 2, ../sass/footer.scss */
#footer-logo {
  padding: 35px 0 0 0;
}

/* line 7, ../sass/footer.scss */
#footer-navigation ul, #social-links ul {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
}
/* line 12, ../sass/footer.scss */
#footer-navigation ul li, #social-links ul li {
  font-size: 75%;
}
/* line 17, ../sass/footer.scss */
#footer-navigation h4, #social-links h4 {
  font-size: 90%;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/footer.scss */
#social-links ul li {
  margin: 5px 0 0 0;
}

/* line 28, ../sass/footer.scss */
#footer-navigation ul li a, #social-links ul li a {
  text-decoration: none;
  color: #515151;
}
/* line 32, ../sass/footer.scss */
#footer-navigation ul li a:hover, #social-links ul li a:hover {
  color: #00b4ff;
}

/* line 37, ../sass/footer.scss */
.social-icon {
  margin: 0 5px 0 0;
}
